<header class="sticky top-5 mx-auto z-50 max-w-screen-xl w-full text-shark-50 px-5 mb-10">
  <nav
    class="flex items-center justify-between gap-10 font-medium bg-zinc-950/20 rounded-2xl p-5 backdrop-blur-md"
  >
    <a
      href="/"
      class="flex items-center gap-2 text-xl font-bold hover:transform hover:scale-105 ease-out duration-150"
    >
      <img src="/logo.svg" alt="warpfolio logo" class="size-10" />
      <span class="hidden md:block"> Warpfolio </span>
    </a>
    <div>
      <!-- toogle menu bar -->
      <button id="toggler" class="md:hidden flex flex-col justify-center size-10">
        <span class="block w-6 h-0.5 bg-shark-50/70 mb-1.5"></span>
        <span class="block w-6 h-0.5 bg-shark-50/70 mb-1.5"></span>
        <span class="block w-6 h-0.5 bg-shark-50/70 mb-1.5"></span>
      </button>
    </div>
    <ul class="hidden md:flex items-center gap-5 px-4 text-lg">
      <li><a class="text-shark-50 hover:text-shark-50/60" href="/">Blog</a></li>
      <li><a class="text-shark-50 hover:text-shark-50/60" href="/">Resources</a></li>
      <li>
        <a
          class="text-shark-50 hover:text-shark-50/60"
          href="https://github.com/naissky/Warpfolio-astro"
          target="_blank">Github</a
        >
      </li>
    </ul>
  </nav>
  <div id="menu" class="hidden md:hidden absolute z-50 top-30 left-0 w-full min-h-screen bg-shark-950/80 backdrop-blur-md">
    <ul class="py-10 flex flex-col items-center gap-5 px-4 text-lg">
      <li><a class="text-shark-50 hover:text-shark-50/60" href="/">Blog</a></li>
      <li><a class="text-shark-50 hover:text-shark-50/60" href="/">Resources</a></li>
      <li>
        <a
          class="text-shark-50 hover:text-shark-50/60"
          href="https://github.com/naissky/Warpfolio-astro"
          target="_blank">Github</a
        >
      </li>
    </ul>
  </div>
</header>

<style>
  #toggler.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: transform 0.3s ease;
  }

  #toggler.active span:nth-child(2) {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #toggler.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: transform 0.3s ease;
  }

  #toggler span {
    transform: rotate(0) translateY(0);
    opacity: 1;
    transition: all 0.3s ease;
  }
</style>

<script>

  const toggler = document.getElementById('toggler');
  const menu = document.getElementById('menu');
  
  toggler?.addEventListener('click', () => {
    toggler.classList.toggle('active');
    menu?.classList.toggle('hidden');
  })
</script>
