<section id="hero" class="flex flex-col md:flex-row items-center justify-center gap-3 gap-y-10 w-full mt-40 lg:mt-20">
  <div class="w-full md:w-1/2 font-medium flex flex-col items-center md:items-start gap-2 text-pretty">
    <h1 class="font-bold text-7xl">Jonh Doe</h1>
    <p class="text-shark-300 text-2xl max-w-md">
      I’m constantly learning and evolving. I love diving into new ideas and finding creative ways
      to solve problems.
    </p>
    <div class="flex gap-3 mt-5">
      <a href="/" class="px-4 py-2 bg-shark-200 text-shark-950 rounded-lg font-medium hover:bg-shark-800 hover:text-shark-50 transition-all"
        >Learn more</a
      >
      <a href="https://github.com/naissky/warpfolio-astro" target="_blank" class="px-4 py-2 bg-shark-200 text-shark-950 rounded-lg font-medium hover:bg-shark-800 hover:text-shark-50 transition-all"
        >Github</a
      >
    </div>
  </div>
  <div class="w-full md:w-1/2">
    <img src="/preview.png" alt="me" class="w-full h-full object-cover rounded-xl" />
  </div>
</section>
