<section
  id="hero"
  class="flex flex-col md:flex-row items-center justify-center gap-3 gap-y-8 w-full mt-24 md:mt-32 lg:mt-20 px-4 md:px-6 lg:px-8"
>
  <div
    class="w-full md:w-1/2 font-medium flex flex-col items-center md:items-start gap-2 md:gap-4 text-pretty"
  >
    <h1 class="font-bold text-5xl sm:text-5xl md:text-6xl lg:text-7xl text-center md:text-left">
      Jonh Doe
    </h1>
    <p
      class="text-shark-300 text-lg sm:text-xl md:text-2xl max-w-[90%] md:max-w-md text-center md:text-left"
    >
      I'm constantly learning and evolving. I love diving into new ideas and finding creative ways
      to solve problems.
    </p>
    <div class="flex gap-3 mt-3 md:mt-5">
      <a
        href="/"
        class="px-3 py-2 md:px-4 md:py-2 bg-shark-200 text-shark-950 rounded-lg font-medium hover:bg-shark-800 hover:text-shark-50 transition-all text-sm md:text-base"
        >Learn more</a
      >
      <a
        href="https://github.com/naissky/warpfolio-astro"
        target="_blank"
        class="px-3 py-2 md:px-4 md:py-2 bg-shark-200 text-shark-950 rounded-lg font-medium hover:bg-shark-800 hover:text-shark-50 transition-all text-sm md:text-base"
        >Github</a
      >
    </div>
  </div>
  <div class="w-full md:w-1/2 px-4 md:px-0">
    <img
      src="/preview.png"
      alt="me"
      class="w-full h-full object-cover rounded-xl shadow-lg hover:scale-[1.02] transition-transform"
    />
  </div>
</section>
